NEXT_PUBLIC_AUTH_API_BASE_URL=http://192.168.1.67:5555
NEXT_PUBLIC_MENU_API_BASE_URL=http://192.168.1.67:5555
NEXT_PUBLIC_BILLING_API_BASE_URL=http://192.168.1.68:8081
NEXT_PUBLIC_STAFF_API_BASE_URL=http://192.168.1.67:5555
NEXT_PUBLIC_API_TIMEOUT_MS=10000
NEXT_PUBLIC_ENABLE_DEV_BYPASS=false

# Existing services used by this front
NEXT_PUBLIC_PATIENTS_API_BASE_URL=http://192.168.1.60:8181
NEXT_PUBLIC_RECEPTION_API_BASE_URL=http://192.168.1.55:8283
NEXT_PUBLIC_RECEPTION_FALLBACK_BASE_URL=http://192.168.1.55:8283
NEXT_PUBLIC_CLINICAL_API_BASE_URL=http://192.168.1.70:8090
NEXT_PUBLIC_NURSING_API_BASE_URL=http://192.168.1.66:8181
NEXT_PUBLIC_MEDICAL_SUPPORT_RECORD_API_BASE_URL=http://192.168.1.66:8181
